<header>
  <img
    src="assets/img/Adhemar.jpg"
    alt="Foto Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Adhemar Jr</h1>
</header>
<aside>
  <div class="container">
    <p>
      Engenheiro Aeronáutico | Engenheiro Eletricista | Piloto de Avião e Helicóptero<br>
      Desenvolvedor:<br />
      Javascript | Angular | NodeJs | PHP | MySQL | C++
    </p>
    <p>Uberaba, Minas Gerais, Brasil</p>
    <p>
      Estou na área da aviação e da tecnologia a mais de 15 anos. Iniciei na Engenharia
      Aeronáutica e posteriomente como Piloto vi a necessidade de desenvolver
      tecnlogias e códigos para aviões, posteriormente me gradeuei em Engenharia
      Elétrica passando a conhecer todo sistema eletrico e como funciona todo
      sistema de produção de chips e microchips, sou Full Stack em Frontend /
      Backend.
    </p>
    <nav>
      <ul>
        <li>
          <a  target="_blank" [matMenuTriggerFor]="menu" class="btn btn-primary"
            >Acessar CV</a
          >
          <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon>feed</mat-icon>
              <span>O Curriculo foi colocado todo aqui via página Web.</span>
            </button>
          </mat-menu>
        </li>
        <li>
          <a
            
            target="_blank"
            class="btn btn-secondary"
            >Linkedin</a
          >
        </li>
      </ul>
    </nav>
    <section>
      <figure>
        <img
          src="assets/img/icons/wa.svg"
          alt="Icone WhatsApp"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a href="https://api.whatsapp.com/send?phone=5516997670013&text=Olá Adhemar" target="_blank"><strong>Envie uma Mensagem para:</strong><p>WhatsApp: (16) 9 9<span class="blur">767-0013</span></p></a>
        </figcaption>
      </figure>
      <figure>
        <img
          src="assets/img/icons/mail.svg"
          alt="Icone Email"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a href="mailto:none" target="_blank"><strong>Envie um e-mail para:</strong><p>adhemar&#64;<span class="blur">servidor.com.br</span></p></a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
