# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

#system Services and DB
src/app/modules/services
src/assets/DB
src/assets/img
src/assets/crea
src/404.html

.vscode/settings.json
src/app/modules/portfolio/interface/IProject.iterface.ts
src/DB/experiences.ts
src/DB/projects.ts
src/app/animations/animation.ts
src/app/modules/portfolio/components
src/app/modules/portfolio/pages/home/home.component.html
src/app/modules/portfolio/pages/home/home.component.scss
src/app/modules/portfolio/pages/home/home.component.ts
src/app/app.routes.ts

