<app-header />
<main >
  <app-knowledge />
  @defer(on viewport){
  <app-experiences />}@placeholder(minimum 2s){
  <section>
    <mat-progress-bar mode="indeterminate" color="warn" />
    <h2>Carregando Experiências ...</h2>
    <br />
  </section>
  }@error {
  <section>Erro ao carregar Experiências ....</section>
  } @defer(on viewport){
  <app-projects />
  } @placeholder(minimum 2s){
  <section>
    <mat-progress-bar mode="indeterminate" color="warn" />
    <h2>Carregando Projetos ....</h2>
    <br />
    <br />
  </section>
  } @error {
  <section>Erro ao carregar Projetos ....</section>
  }
</main>
