:host {
    section {
        background: var(--black-010);
        text-align: center;
        color: var(--white);
        margin: 25px 0 25px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 150px;
    }
    main{
        height: 100%;
    }
  
}