:host {
    margin-top: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    article{
        width: 100%;
        height: 100%;
        max-width: 600px;
        margin: 0 0 15px 0;
        padding: 10px 20px;
        border: 10px solid var(--black-010);
        border-radius: 20px;
        background: rgb(107, 107, 107);
        color: var(--white);
        text-align: justify;
    }


    h2 {
        text-align: center;
        margin: 0 0 25px 0;
    }

    details {
        overflow: hidden;
        margin-top: 10px;
        background: var(--black-010);
        border-radius: 7px;
        color: var(--white);

        summary,
        article {
            padding: 10px 20px;
            text-align: justify;
            transition: 0.5s;
            
        }

        summary {
            cursor: pointer;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: var(--primary);

            p {
                font-size: 14px;
                color: var(--black-010);

                padding: 0;
                display: flex;
                flex-direction: column;
            }

        }

        &[open] {
            summary {
                &::after {
                    content: '▼';
                    color: var(--black-010);
                    transition: 0.5s;
                    transform: rotate3d(1, 0, 0, 180deg);
                }


                border-radius: 7px 7px 0 0;
            }
        }

        &:not([open]) {
            summary {
                &::after {
                    
                    content: '▼';
                    color: var(--white);
                    transition: 0.5s;
                }


                border-radius: 7px 7px 0 0;
            }
        }
    }
}