:host {
    margin-top: 25px;
    padding: 25px 0;
    background: var(--black-010);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        text-align: center;
        margin: 0;

    }

    ul {
        margin-top: 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 5px;

        li {
            width: 50px;
            height: 50px;
            background: var(--black);

            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 7px;


            &:hover {
                background: var(--white);
                transition: 1s;
            }

            img {
                &:hover {
                    transform: scale(2);
                    
                    filter: invert(1);
                    transition: 0.5s;
                }
            }


        }
    }
}