<header>
  <h2 mat-dialog-title>{{ getData?.title }}</h2>
  <button mat-button (click)="closeDialog()">
    <img src="assets/img/icons/close.svg" alt="" />
  </button>
</header>

<mat-dialog-content>
  <h3>{{ titleDialog() }}</h3>
  @if(!flag){
  <article [innerHTML]="typeAiArticle()"></article>
  }@else {
  <article [innerHTML]="typeAiArticle()"></article>
  }
  <nav>
    @for(item of getData?.links; track item) {
    <a
      (click)="typeAi(item.history)"
      target="_blank"
      class="btn btn-primary"
      #button
    >
      {{ item.name }}</a
    >}
  </nav>
</mat-dialog-content>
